footer.footer
    .container
        .footer__content
            .footer__logo
                a(href='/', title='')
                    img(src="img/logo-white.png", alt="Лого")
            .footer__copyright
                | &copy; 2015 All right reserved. Allow no copy.